.box{
    background-color: #DDE1E4;
    /* overflow: hidden; */
}

  
  .submit-btn {
    float: left;
  }
  .reset-btn {
    float: right;
  }
  
  .form-headline:after {
    content: "";
    display: block;
    width: 10%;
    padding-top: 10px;
    border-bottom: 3px solid #ec1c24;
  }
  


  
  ::-webkit-input-placeholder { 
    font-family: 'Roboto', sans-serif;
  }
  
  .required-input {
    color: black;
  }

  
  .form h3,
  .form ul {
    margin: 0;
  }
  
 
  
  .form-input:focus,
  textarea:focus{
    outline: 1.5px solid #ec1c24;
  }
  
  .form-input,
  .form textarea {
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
  }
  

.mainer{
    display: flex;
    margin-left: 220px;
}
    .box {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    .box > * {
      padding: 2em 2em;
    }
  
  

  /* weasdcx; */
 
  .form {
    background: #c7d3dd;
    position: absolute;
    top: 70px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 700px;
  }

 .form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .form form label {
    display: block;
  }
  .form form p {
    margin: 0;
  }  
    .full-width {
        grid-column: 1/ 3;
  }
  
  .submit-btn,
  .form-input,
  .form textarea {
    padding: 1em;
  }
  
   .form button,
   .submit-btn {
    background: transparent;
    border: 1px solid #ec1c24;
    color: #ec1c24;
    border-radius: 15px;
    padding: 5px 20px;
    text-transform: uppercase;
    /* transition-delay: 2s; */
  }
 .form button:hover, .submit-btn:hover,
 .form button:focus , .submit-btn:focus{
    background: #ec1c24;
    outline: 0;
    color: #eee;
    transition: 0.5s;
  }
.mainer{
    overflow: hidden;
    width: 600px;
    height: 500px;
}
  .mainer .image{
    width: 100px;
    /* height: 550px; */
 position: absolute; 
 right: 299px; 
 top: 70px; 
    margin-left: 100px;
}
.image img{
    /* border-radius: 50px; */
    object-fit: cover;
    width: 200px;
    height: 514px;
    /* content: '\F09EA'; */
    position: absolute;
    /* margin-right: 10px; */
}