<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Animal Culture</title>
</head>
<div>
  
  <div id="fullpage">

    <div class="later">

 
    </div>
    <div class="main_home" style="background-image: url('/images/homebg.jpeg');" >
  
  
  
  
    <header>
      <nav>
        <div class="container" id="cont">
          <ul class="nav-list">
            <li class="nav-logo">
                <img class="squi" src="/images/suii.png" >
                
            <li class="main_name" >
              
    
              
              
             <span> Animal
            </span>
              Culture
            
    
          </li>
          
              <li class="nav-item">
                <a href="home">
                  Home
                </a>
                
              </li>
            <li class="nav-item">
              
    
                <a href="regan">
                    Add Animal
                  </a>
              
    
            </li>
            
            <li class="cont nav-item">
                <a href="graph">
                    Stats
                </a>
            </li>
            <li class="nav-item">
              
    
                <a href="contact">
                    Contact Us
                  </a>
              
    
            </li>
            <li class="nav-btn"><button>
             <a href="account"> Your Account
               </a>
             </button></li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- <div class="later">
</div> -->
<div class="idk">

  <h2 id="slide-title">Animal <br>Culture</h2>
  <br><br><br><br><br><br><br><br><br>
  <p>A place to register stray 
    <span class="red">Something</span>
    animals</p>
</div>
<!-- <img src="dog_bg.jpg" alt=""> -->
<div class="down-arrow"></div>
</div>


<div class="about">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  


</div>
   </div>
   </div>
   </div>
     </div>
     
    </div>
    
  </div>
  
</div>

<div class="coverallbg"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <!-- <script src="/file.js"></script> -->
      <script src="https://unpkg.com/fullpage.js/dist/fullpage.min.js"></script>

</body>
</html>